.dark-theme #natureimg{
    box-shadow: 0 0 20px rgb(255 255 255 / 38%);
}
.dark-theme #pinkflowerimg{
    box-shadow: 0 0 20px rgb(255 255 255 / 38%);
}
.dark-theme #sunflowerimg{
    box-shadow: 0 0 20px rgb(255 255 255 / 38%);
}
.dark-theme #pic1{
    box-shadow: 0 0 20px rgb(255 255 255 / 38%);
}
.dark-theme #pic2{
    box-shadow: 0 0 20px rgb(255 255 255 / 38%);
}
.dark-theme #snow-img {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.38) ;
}
